
.footer-nav {
    
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(8, 25, 43);
    position: fixed;
    bottom: 0;
    min-height: 5%;
    width: 100%;
    align-items: center;
   
}


.footer-text {
    color:#fff;
    font-size: 110%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: type 4s steps(44) 1s 1 normal both;
    
}

  @keyframes type{
    from{width: 0;}
    to{width: 12.5em;}
  }
 