.container {
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
}

#sy {
    border-radius: 80px;
    transform: scale(.7);
    width: 100%;
    
}


#home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-div {
    overflow: hidden;
}

#img-div #sy {
    transition: transform 800ms ease-in;
    transform-origin: 50% 65%;
    filter: brightness(120%);
}

#img-div:hover #sy {
    transform: scale(.9) rotate(-25deg);
    filter: brightness(100%)
}

