

.title {
    color: rgb(205, 220, 225) !important;
    filter: brightness(150%);
}

#Skills {
    background: radial-gradient(circle, rgba(48,43,99,.5) 0%, rgba(194,194,214,.1) 100%);
    height: 100%;
}

.skillImg {
    height: 75px;
    backface-visibility: hidden;
    
}




#html:hover, #css:hover, #js:hover, #bootstrap:hover, #php:hover, #sql:hover, #laravel:hover, #mongo:hover, #express:hover, #node:hover, #postman:hover, #react:hover, #gitlab:hover{
    transform: scale(1.1);
    transition: 200ms ease-in;
    box-shadow: 0 0 10px #fff;
    border-radius: 30%;
    
}





